/* Global */

body {
    background-image: url("../images/background-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #F6F6F6;
    position: relative;
    min-height: 100vh;
    padding-bottom: 60px;
}

footer {
    padding: 2vh 15vh;
    text-align: center;
    font-size: 0.7em;
    background-color: transparent;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    color: white;
    line-height: 0.5em;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #0078AA;
}

footer p {
    color: white;
}

.th-odd {
    width: 50%;
}

.th-even {
    text-align: right;
}

td {
    text-align: left;
}

.td-even {
    text-align: right;
}

.td-sum {
    font-weight: bold;
}


/* Navbar */

.navbar {
    background-color: #0078AA;
}

.nav-item {
    padding: 0 18px;
}

.navbar a{
    color: #F6F6F6;
}


/* Containers */

.title-container {
    margin: auto;
    padding-top: 7%;
    width: 300px;
}

.content-container {
    margin-top: 2vh;
    align-content: center;
}

.main-container p {
    text-justify: inter-word;
    text-align: justify;
    line-height: 1.4;
}

.main-container {
    padding: 1vh 5%;
    width: 60%;
    background: rgba(50, 50, 200, 0.5);
    border-radius: 50px;
}

.main-container a {
    color: rgb(251, 255, 0);
}

.main-container input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.main-container select {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

#inputRememberMe {
    width: 20px;
}

button {
    margin: 10px 0;
    padding: 5px 10px;
    background: #2196F3;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 10px;
    max-height: 40px;
}

button:hover {
    background: #1e88e5;
}

/* Alerts */

.alert {
    border: 1px solid #ccc;
    padding: 6px;
}

.alert-info {
    background-color: #d9edf7;
}

.alert-success {
    background-color: #dff0d8;
}

.alert-warning {
    background-color: #fcf8e3;
}

/* Balance */

#date-selection label {
    float: right;
    padding-right: 10px;
}

#date-selection input {
    float: right;
}

#date-selection button {
    width: 80px;
    height: 30px;
    float: right;
}

/* Piecharts on balance page*/

#piecharts > div{
    min-height: 25vh;
}

#piecharts rect {
    fill: none;
}

#piecharts text {
    fill: white;
}

.main-container ul li input {
    width: 70%;    
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

ul li button {
    all: unset;
}