{% extends "base.html" %}

{% block title %}Balance{% endblock %}

{% block body %}

    <h1>Balance</h1>

    <div class="date-container">
        <form method="post" action="/balanceManager/showBalance" id="formSelectBalanceDates">
          <div class="input-area input-group mb-3">
            <label for="exampleInputDate" class="form-label">Date range: </label>
            <div class="input-area-container">
              <select name="balanceDates" class="form-select" aria-label="Default select example">
                <option value="1">Current month</option>
                <option value="2">Last month</option>
                <option value="3">Current year</option>
              </select>
              <button type="submit">Select</button>
            </div>
          </div>
        </form>
      </div>
    
      <div class="balance-container container-fluid">
        <div class="row">
          <div class="col-lg-9 col-md-6 col-sm-9 mx-auto">
            <h2>Balance</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-9 col-md-6 col-sm-9 mx-auto">
            <table class="table align-middle table-bordered table-striped table-dark">
              <thead>
                <tr>
                  <th class="">Incomes</th>
                  <th class="">Expenses</th>
                  <th class="">Balance</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="td-even">{{ totalAmountOfIncomes }}</td>
                  <td class="td-even">{{ totalAmountOfExpenses }}</td>
                  <td class="td-even">{{ totalAmountOfIncomes- totalAmountOfExpenses }}</td>
                </tr>
              </tbody>
            </table>
          </div>      
        </div>
        
        <div class="row">
          <div class="col-lg-9 col-md-6 col-sm-9 mx-auto">
            <h2>Incomes</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-9 col-md-6 col-sm-9 mx-auto">
            <table class="table align-middle table-bordered table-striped table-dark">
              <thead>
                <tr>
                  <th class="th-odd">Category</th>
                  <th class="th-even">Amount</th>
                </tr>
              </thead>
              <tbody>
                {% for income in incomes %}
                <tr>
                  <td>{{ income.income_category_assigned_to_user_id }}</td>
                  <td class="td-even">{{ income.sum }}</td>
                </tr> 
                {% endfor %}       
                <tr>
                  <td class="td-sum">Razem</td>
                  <td class="td-sum td-even">{{ totalAmountOfIncomes }}</td>
                </tr>    
              </tbody>
            </table>
          </div>      
        </div>
    
        <div class="row">
          <div class="col-lg-9 col-md-6 col-sm-9 mx-auto">
            <h2>Expenses</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-9 col-md-6 col-sm-9 mx-auto">
            <table class="table align-middle table-bordered table-striped table-dark">
              <thead>
                <tr>
                  <th class="th-odd">Category</th>
                  <th class="th-even">Amount</th>
                </tr>
              </thead>
              <tbody>
                {% for expense in expenses %}
                <tr>
                  <td>{{ expense.expense_category_assigned_to_user_id }}</td>
                  <td class="td-even">{{ expense.sum }}</td>
                </tr> 
                {% endfor %}   
                <tr>
                  <td class="td-sum">Razem</td>
                  <td class="td-sum td-even">{{ totalAmountOfExpenses }}</td>
                </tr>    
              </tbody>
            </table>
          </div>      
        </div>
      </div>
      
{%endblock %}